PG_URI=postgres://mmuser:mostest@localhost:5433/automation_dashboard_db
JWT_SECRET=[change me]
JWT_USER=[change me]
JWT_ROLE=[change me]
JWT_ALG=HS256
JWT_EXPIRES_IN=[change me]
ALLOWED_USER=[change me]
ALLOWED_ROLE=[change me]